.idea
.vscode
.DS_Store

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> frontend ###
/frontend/node_modules/
/frontend/dist/
/frontend/.env*.local
###< frontend ###

###> production build output ###
/public/index.html
/public/assets/
###< production build output ###
